@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #0e7e12;
  height: 100vh;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.heart,
.diamond {
  color: red;
}

.value {
  margin-left: auto;
  margin-right: auto;
  font-size: 150px;
  color: black;
}

.suit {
  font-size: 100px;
  padding-left: 15px;
}

.suit-right {
  font-size: 100px;
  margin-left: auto;
  padding-right: 15px;
}
